{% extends 'dashboard.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% trans 'List of notifications' %}{% endblock %}

{% block dashboard_content %}

    <div class="col-lg-3 border-end">
        <div class="text-center">
            <div class="position-relative d-inline-block">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}" class="rounded-circle profile-pic"
                         alt="Profile Picture">
                {% else %}
                    <img src="{% static 'icons/default-avatar.png' %}"
                         class="rounded-circle profile-pic" alt="Profile Picture">
                {% endif %}
            </div>
            <h3 class="mt-3 mb-2">{{ username }}</h3>
            <div class="d-flex justify-content-center gap-2 mb-4">
                <a class="btn btn-primary" href="{% url 'accounts:edit_profile' %}">
                    <i class="fa-solid fa-user-pen"></i> {% trans 'Edit' %}
                </a>
            </div>
        </div>
        <div class="p-4">
            <div class="nav flex-column nav-pills">
                <a class="nav-link active"
                   href="{% url 'accounts:dashboard' request.user.username %}"><i
                        class="fas fa-user me-2"></i>{% trans 'Personal' %}
                    {% trans 'Info' %}</a>
                <a class="nav-link"
                   href="{% url 'accounts:my_offers' %}"><i
                        class="fas fa-grip me-2"></i>{% trans 'My offers' %}</a>
                <a class="nav-link" href="{% url 'notifications:notification_list' %}"><i
                        class="fas fa-bell me-2"></i>{% trans 'Notifications' %}</a>
                <a class="nav-link" href="{% url 'payments:history' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% trans 'Payments' %}
                </a>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="p-4">

            <h5 class="mb-4">{% trans 'Edit Personal Information' %}</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label" for="id_avatar">{% trans 'Avatar' %}</label>
                            {{ form.avatar|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="id_first_name">{% trans 'First Name' %}</label>
                            {{ form.first_name|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="id_last_name">{% trans 'Last Name' %}</label>
                            {{ form.last_name|add_class:"form-control" }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="id_email">{% trans 'Email' %}</label>
                            {{ form.email|add_class:"form-control" }}
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">{% trans 'Save Changes' %}</button>
            </form>
            <a href="{% url 'accounts:delete_account' %}" class="btn btn-danger mt-2">{% trans 'Delete account' %}</a>
        </div>
    </div>


{% endblock %}
