{% extends 'dashboard.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Profile' %}{% endblock %}
{% block dashboard_content %}
    <style>
        .profile-placeholder {
            width: 100px;
            height: 100px;
            background-color: #118ce6;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50%;
            text-transform: uppercase;
        }
    </style>

    <div class="col-lg-3 border-end">
        <div class="text-center">
            <div class="position-relative d-inline-block">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}" class="rounded-circle profile-pic" alt="Profile Picture">
                {% else %}
                    <div class="rounded-circle profile-placeholder">
                        {{ request.user.username|slice:":1"|upper }}
                    </div>
                {% endif %}
            </div>
            <h3 class="mt-3 mb-2">{{ username }}</h3>
        </div>
        <div class="p-4">
            <div class="nav flex-column nav-pills">
                <a class="nav-link active"
                   href="{% url 'accounts:dashboard' request.user.username %}"><i
                        class="fas fa-user me-2"></i>{% trans 'Personal' %}
                    {% trans 'Info' %}</a>
                <a class="nav-link"
                   href="{% url 'accounts:my_offers' %}"><i
                        class="fas fa-grip me-2"></i>{% trans 'My offers' %}</a>
                <a class="nav-link" href="{% url 'notifications:notification_list' %}"><i
                        class="fas fa-bell me-2"></i>{% trans 'Notifications' %}</a>

                <a class="nav-link" href="{% url 'payments:history' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% trans 'Payments' %}
                </a>

                <a class="nav-link" href="{% url 'accounts:referred_users' %}">
                    <i class="fa-solid fa-users"></i> {% trans 'Referrals' %}</a>

            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="p-4">
            <div class="col-12 mb-4">
                <div class="mb-4">
                    <a class="btn btn-primary mb-2" href="{% url 'accounts:edit_profile' %}">
                        <i class="fa-solid fa-user-pen"></i> {% trans 'Edit' %}
                    </a>
                    <div class="row g-3">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">{% trans 'First Name' %}:</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans 'Last Name' %}:</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans 'Email' %}:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <a href="{% url 'account_change_password' %}" class="btn btn-primary mb-2">{% trans 'Change password' %}</a>
        </div>


    </div>
{% endblock %}
