{% extends "dashboard.html" %}
{% load static allauth i18n %}
{% block head_title %}
    {% trans "Email Addresses" %}
{% endblock head_title %}


{#{% block content %}#}
{% block dashboard_content %}


    <style>
        .read-False td {
            background-color: #ccc;
        }

        .profile-placeholder {
            width: 100px;
            height: 100px;
            background-color: #118ce6;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50%;
            text-transform: uppercase;
        }
    </style>

    <div class="col-lg-3 border-end">
        <div class="text-center">
            <div class="position-relative d-inline-block">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}"
                         class="rounded-circle profile-pic {% if user_profile.is_premium %}premium-rounded{% endif %}"
                         alt="Profile Picture">
                {% else %}
                    <div class="rounded-circle profile-placeholder">
                        {{ request.user.username|slice:":1"|upper }}
                    </div>
                {% endif %}
            </div>
            <h3 class="mt-3 mb-2">{{ request.user.username }}</h3>

        </div>
        <div class="p-4">
            <div class="nav flex-column nav-pills">
                <a class="nav-link"
                   href="{% url 'accounts:dashboard' request.user.username %}">
                    <i class="fas fa-user me-2"></i>
                    {% trans 'Personal info' %}
                </a>
                <a class="nav-link"
                   href="{% url 'accounts:my_offers' %}">
                    <i class="fas fa-grip me-2"></i>
                    {% trans 'My offers' %}
                </a>
                <a class="nav-link active" href="{% url 'notifications:notification_list' %}">
                    <i class="fas fa-bell me-2"></i>
                    {% trans 'Notifications' %}
                </a>

                <a class="nav-link" href="{% url 'payments:history' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% trans 'Payments' %}
                </a>
                <a class="nav-link" href="{% url 'accounts:referred_users' %}">
                    <i class="fa-solid fa-users"></i> {% trans 'Referrals' %}</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="p-4">
            {% element h1 %}
                {% trans "Email Addresses" %}
            {% endelement %}
            {% if emailaddresses %}
                {% element p %}
                    {% trans 'The following email addresses are associated with your account:' %}
                {% endelement %}
                {% url 'account_email' as email_url %}
                {% element form form=form action=email_url method="post" tags="email,list" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% for radio in emailaddress_radios %}
                            {% with emailaddress=radio.emailaddress %}
                                {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                                    {% slot label %}
                                        {{ emailaddress.email }}
                                        {% if emailaddress.verified %}
                                            {% element badge tags="success,email,verified" %}
                                                {% translate "Verified" %}
                                            {% endelement %}
                                        {% else %}
                                            {% element badge tags="warning,email,unverified" %}
                                                {% translate "Unverified" %}
                                            {% endelement %}
                                        {% endif %}
                                        {% if emailaddress.primary %}
                                            {% element badge tags="email,primary" %}
                                                {% translate "Primary" %}
                                            {% endelement %}
                                        {% endif %}
                                    {% endslot %}
                                {% endelement %}
                            {% endwith %}
                        {% endfor %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button type="submit" name="action_primary" %}
                            {% trans 'Make Primary' %}
                        {% endelement %}
                        {% element button tags="secondary" type="submit" name="action_send" %}
                            {% trans 'Re-send Verification' %}
                        {% endelement %}
                        {% element button tags="danger,delete" type="submit" name="action_remove" %}
                            {% trans 'Remove' %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% else %}
                {% include "account/snippets/warn_no_email.html" %}
            {% endif %}
            {% if can_add_email %}
                {% element h2 %}
                    {% trans "Add Email Address" %}
                {% endelement %}
                {% url 'account_email' as action_url %}
                {% element form form=form method="post" action=action_url tags="email,add" %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}
                    {% slot actions %}
                        {% element button name="action_add" type="submit" %}
                            {% trans "Add Email" %}
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            {% endif %}

        </div>
    </div>


{% endblock dashboard_content %}
{% block extra_body %}
    <script src="{% static 'account/js/account.js' %}"></script>
    <script src="{% static 'account/js/onload.js' %}"></script>
    <script data-allauth-onload="allauth.account.forms.manageEmailForm" type="application/json">{
    "i18n": {"confirmDelete": "{% trans 'Do you really want to remove the selected email address?' %}"}
}
    </script>
{% endblock extra_body %}
