# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg
*.egg-info/
dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.log

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py
db.sqlite3
media/
staticfiles/
*.mo

# Environment variables
.env
.env.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache
.pytest_cache/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pipenv
Pipfile.lock

# Virtual environment
venv/
ENV/
env/
.venv/
pyvenv.cfg

# IDE - PyCharm
.idea/
*.iml

# VSCode
.vscode/

# OS files
.DS_Store
*.swp
*~
Thumbs.db

# Others
*.sqlite3
*.db
