{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load view_breadcrumbs %}

{% block content %}
    {% render_breadcrumbs %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ form.text.id_for_label }}" class="form-label">{% trans 'Text' %}</label>
            {{ form.text|add_class:"form-control" }}
            {% if form.text.errors %}
                <div class="invalid-feedback">
                    {% for error in form.text.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
    </form>

    <script src="https://cdn.tiny.cloud/1/8z75fg5vsuaou0zpmiouima01l1qywee08qouj21g6xy2q9uy/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            tinymce.init({
                selector: 'textarea',
                plugins: 'advlist autolink lists link charmap print preview anchor searchreplace visualblocks code fullscreen', // Убираем плагин image
                toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | bullist numlist | link code', // Убираем кнопку изображения
                height: 300,
                max_height: 500,
                menubar: false,
                statusbar: false,
                branding: false
            });
        });
    </script>

{% endblock %}
