{% extends 'base.html' %}
{% load i18n %}
{% load custom_filters %}
{% block title %}{% trans 'Offers list' %}{% endblock %}

{% load view_breadcrumbs %}

{% block content %}



    <style>
        .bg-pu {
            background-color: green !important;
        }

        .bg-pe {
            background-color: gray !important;
        }

        .bg-re {
            background-color: red !important;
        }

        .sidebar_right {
            background-color: #f5f5f5;
        }

        .create-btn {
            background-color: #118ce6;
            color: white;
        }

        .create-btn:hover {
            background-color: #0b71be;
            color: white;
        }


        .card-footer {
            margin-top: auto;
        }

        .offer-image {
            height: 200px;
            object-fit: cover;
            width: 100%;
        }

        .offer-item a {
            text-decoration: none;
            cursor: pointer;
        }

        .card-body a,
        .card-footer a {
            text-decoration: none;
        }

        .card-body a:hover,
        .card-footer a:hover {
            text-decoration: none;
        }

        .card-footer {
            background-color: transparent;
        }
    </style>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-md-8">

            <div class="d-flex justify-content-between mb-4 rounded sidebar_right d-flex align-center p-2">

                {% render_breadcrumbs %}

                <div class="d-flex">
                    <button id="gridView" class="btn btn-secondary me-2" onclick="toggleView('grid')"><i
                            class="fa-solid fa-border-all"></i></button>
                    <button id="listView" class="btn btn-secondary" onclick="toggleView('list')"><i
                            class="fa-solid fa-grip-lines"></i></button>
                </div>
            </div>


            <div id="offersContainer" class="">
                <div class="row">
                    {% for offer in offers %}
                        <div class="mb-4 col-sm-6 offer-item">
                            <a href="{% url 'offers:offer_detail' slug=offer.slug %}">
                                <div class="card h-100 position-relative">
                                    {% if offer.is_premium == True %}
                                        <span class="position-absolute mt-2 mx-2 badge text-bg-success">
                            {% trans 'Premium' %} <i class="fa-solid fa-star" style="color: gold"></i>
                        </span>
                                    {% endif %}

                                    {% if request.user == offer.author %}
                                        <span class="position-absolute mt-2 mx-2 end-0 badge text-bg-success bg-{{ offer.status }}">{{ offer.get_status_display }}</span>
                                    {% endif %}
                                    <img src="{{ offer.image.url }}" class="card-img-top offer-image" alt="...">
                                    <div class="card-body">

                                        <h5 class="card-title text-dark">{{ offer.title }}</h5>

                                        <p class="card-text pb-2 text-dark">{{ offer.body|striptags|truncatewords:10|html_unescape }}</p>
                                        <div class="card-footer px-0">
                                            <p class="card-text">
                                                <small class="text-body-secondary"><i
                                                        class="fa-solid fa-clock"></i> {{ offer.created_at|timesince }}
                                                </small>
                                                <small class="text-body-secondary">| <i
                                                        class="fa-solid fa-flag"></i> {{ offer.country.name }}</small>
                                                <small class="text-body-secondary">| <i
                                                        class="fa-solid fa-list"></i> {{ offer.category }}</small>
                                                <small class="text-body-secondary">| <a
                                                        href="{% url 'offers:user_offers' username=offer.author.username %}">{{ offer.author }}</a></small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    {% endfor %}

                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Первая">
                                <span aria-hidden="true">&laquo; {% trans 'First' %}</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                               aria-label="Предыдущая">
                                <span aria-hidden="true">{% trans 'Previous' %}</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                               aria-label="Следующая">
                                <span aria-hidden="true">{% trans 'Next' %}</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                               aria-label="Последняя">
                                <span aria-hidden="true">{% trans 'Last' %} &raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>


        <div class="col-md-4">
            <a href="{% url 'offers:offer_create' %}" class="btn create-btn btn-lg mb-4 w-100">{% trans 'Create' %}</a>


            <div class="d-flex flex-column gap-3 sidebar_right p-4 rounded shadow-sm">


                <h5><span><i class="fa-solid fa-filter"></i></span> {% trans 'Search and filters' %}</h5>

                <form method="get" class="me-2 w-100 mb-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="search"
                               value="{{ request.GET.search }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary rounded-end" style="border-radius: 0;" type="submit">
                                {% trans 'Search' %}
                            </button>
                        </div>
                    </div>
                </form>

                <div class="d-flex flex-column">
                    <div class="dropdown flex-grow-1 mb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {% trans 'Category' %}<i class="fa fa-arrow-down ms-2"></i>
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'offers:offer_list' %}">{% trans 'All' %}</a>
                            </li>
                            {% for cat in categories %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'offers:offer_list' %}?category={{ cat.slug }}">
                                        {{ cat.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            <li>
                                <a href="{% url 'offers:category_list' %}" class="dropdown-item bt-1">
                                    {% trans 'All' %} {% trans 'Category' %}</a>
                            </li>
                        </ul>
                    </div>


                    <div class="dropdown flex-grow-1 mb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="offerTypeDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {% if offer_type == 'premium' %}
                                {% trans 'Premium' %}
                            {% elif offer_type == 'regular' %}
                                {% trans 'Regular' %}
                            {% else %}
                                {% trans 'All' %}
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="offerTypeDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'offers:offer_list' %}">{% trans 'All' %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'offers:offer_list' %}?type=premium">{% trans 'Premium' %}</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{% url 'offers:offer_list' %}?type=regular">{% trans 'Regular' %}</a>
                            </li>
                        </ul>
                    </div>


                    <h5><span><i class="fa-solid fa-earth-americas my-4"></i></span> {% trans 'Geo' %}</h5>

                    <div class="dropdown flex-grow-1 mb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            {#                            {% trans 'Country' %}#}

                            {% with request.GET.country as current_country %}
                                {% if current_country %}
                                    {% for code, name in countries %}
                                        {% if code == current_country %}
                                            {{ name }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% trans 'Country' %}
                                {% endif %}
                            {% endwith %}


                            <i class="fa fa-arrow-down ms-2"></i>
                        </button>
                        <ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                            <li>
                                <a class="dropdown-item" href="{% url 'offers:offer_list' %}">{% trans 'All' %}</a>
                            </li>
                            <div class="dropdown-columns">
                                {% for code, name in countries %}
                                    <li>
                                        <a class="dropdown-item {% if code == user_country %}active{% endif %}"
                                           href="{% url 'offers:offer_list' %}?country={{ code }}">
                                            {{ name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>


                    <div class="dropdown flex-grow-1 mb-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">

                            {#                            {% trans 'Region' %}#}
                            {% with request.GET.region as current_region %}
                                {% if current_region %}
                                    {% for region in regions %}
                                        {% if region.slug == current_region %}
                                            {{ region.name }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% trans 'Region' %}
                                {% endif %}
                            {% endwith %}


                            <i class="fa fa-arrow-down ms-2"></i>
                        </button>
                        <ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                            <li>
                                <a class="dropdown-item" href="{% url 'offers:offer_list' %}">{% trans 'All' %}</a>
                            </li>
                            <div class="dropdown-columns">
                                {% for region in regions %}
                                    <li>
                                        <a class="dropdown-item {% if request.GET.region == region.slug %}active{% endif %}"
                                           href="{% url 'offers:offer_list' %}?region={{ region.slug }}&country={{ request.GET.country }}">
                                            {{ region.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </div>
                        </ul>
                    </div>


                </div>


                <a href="{% url 'offers:offer_list' %}" class="btn btn-secondary me-2">{% trans 'Reset' %} <i
                        class="fa-solid fa-delete-left"></i></a>


            </div>
            <div class="sidebar_right mt-4 p-4 rounded">
                <h5><i class="fa-solid fa-chart-simple"></i> {% trans 'Statistic' %}</h5>
                <p>{% trans 'Total publications' %}: <span class="badge text-bg-primary">{{ offers|length }}</span></p>
            </div>


        </div>
    </div>


    <script>
        function toggleView(view) {
            const offersContainer = document.getElementById('offersContainer');
            const offerItems = document.querySelectorAll('.offer-item');
            const offerImages = document.querySelectorAll('.offer-image');

            if (view === 'grid') {
                offerImages.forEach(img => img.style.display = 'block');

                offersContainer.classList.remove('row-cols-1');
                offersContainer.classList.add('r');
                offerItems.forEach(item => {
                    item.classList.remove('col-12');
                    item.classList.add('col-sm-6');
                });
                document.getElementById('gridView').classList.add('btn-primary');
                document.getElementById('listView').classList.remove('btn-primary');
                document.getElementById('listView').classList.add('btn-secondary');
            } else {
                // Прячем изображения в списке
                offerImages.forEach(img => img.style.display = 'none');

                offersContainer.classList.remove('row-cols-sm-4');
                offersContainer.classList.add('row-cols-1');
                offerItems.forEach(item => {
                    item.classList.remove('col-sm-6');
                    item.classList.add('col-12');
                });
                document.getElementById('listView').classList.add('btn-primary');
                document.getElementById('gridView').classList.remove('btn-primary');
                document.getElementById('gridView').classList.add('btn-secondary');
            }
        }

        // Инициализация на старте страницы (по умолчанию сетка)
        document.addEventListener('DOMContentLoaded', function () {
            toggleView('grid');
        });
    </script>




{% endblock %}





