{% extends 'base.html' %}
{% load i18n %}
{% block title %}Список предложений{% endblock %}

{% load view_breadcrumbs %}

{% block content %}

    {% render_breadcrumbs %}

    <style>
        .bg-pu {
            background-color: green !important;
        }

        .bg-pe {
            background-color: gray !important;
        }

        .bg-re {
            background-color: red !important;
        }

        .card-footer {
            margin-top: auto;
        }

        .offer-image {
            height: 200px;
            object-fit: cover;
            width: 100%;
        }

        .offer-item a {
            text-decoration: none; /* Убирает подчеркивание для всех ссылок */
            cursor: pointer;
        }

        .card-body a,
        .card-footer a {
            text-decoration: none; /* Убирает подчеркивание для ссылок внутри card-body и card-footer */
        }

        .card-body a:hover,
        .card-footer a:hover {
            text-decoration: none; /* Убирает подчеркивание при наведении */
        }
        .card-footer {
            background-color: transparent;
        }
    </style>

    <div class="d-flex flex-wrap justify-content-between mb-4">
        <div class="d-flex flex-wrap align-items-center">
            <a href="{% url 'offers:offer_create' %}" class="btn btn-primary me-2">{% trans 'Create' %}</a>

            <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {% trans 'Category' %}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'offers:offer_list' %}">Все</a>
                    </li>
                    {% for cat in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url 'offers:offer_list' %}?category={{ cat.slug }}">
                                {{ cat.name }}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'offers:category_list' %}" class="dropdown-item bt-1">All category</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {% trans 'Country' %}
                </button>
                <ul class="dropdown-menu" style="max-height: 300px; overflow-y: auto;">
                    <li>
                        <a class="dropdown-item" href="{% url 'offers:offer_list' %}">Все</a>
                    </li>
                    <div class="dropdown-columns">
                        {% for code, name in countries %}
                            <li>
                                <a class="dropdown-item {% if code == user_country %}active{% endif %}"
                                   href="{% url 'offers:offer_list' %}?country={{ code }}">
                                    {{ name }}
                                </a>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            </div>


            <a href="{% url 'offers:offer_list' %}" class="btn btn-secondary me-2">{% trans 'Reset' %} <i
                    class="fa-solid fa-delete-left"></i></a>

            <form method="get" class="me-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans 'Search' %}" name="search"
                           value="{{ request.GET.search }}">
                    <div class="input-group-append">
                        <button class="btn btn-primary rounded-end" style="border-radius: 0;" type="submit">
                            {% trans 'Search' %}
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex align-items-center">
            <button id="gridView" class="btn btn-secondary me-2" onclick="toggleView('grid')"><i
                    class="fa-solid fa-border-all"></i></button>
            <button id="listView" class="btn btn-secondary" onclick="toggleView('list')"><i
                    class="fa-solid fa-grip-lines"></i></button>
        </div>
    </div>







    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}




    <div id="offersContainer" class="row row-cols-1 row-cols-md-4">
        {% for offer in offers %}
            <div class="col mb-4 offer-item">
                <a href="{% url 'offers:offer_detail' slug=offer.slug %}">
                    <div class="card h-100 position-relative">
                        {% if offer.is_premium == True %}
                            <span class="position-absolute mt-2 mx-2 badge text-bg-success">
                            {% trans 'Premium' %} <i class="fa-solid fa-star" style="color: gold"></i>
                        </span>

                        {% endif %}

                        {% if request.user == offer.author %}
                            <span class="position-absolute mt-2 mx-2 end-0 badge text-bg-success bg-{{ offer.status }}">{{ offer.get_status_display }}</span>
                        {% endif %}
                        <img src="{{ offer.image.url }}" class="card-img-top offer-image" alt="...">
                        <div class="card-body">

                            <h5 class="card-title">{{ offer.title }}</h5>

                            <p class="card-text">{{ offer.body|striptags|truncatewords:10 }}</p>
                            <div class="card-footer">
                                <p class="card-text">
                                    <small class="text-body-secondary">{{ offer.created_at|timesince }}</small>
                                    <small class="text-body-secondary">| {{ offer.country.name }}</small>
                                    <small class="text-body-secondary">| {{ offer.category }}</small>
                                    <small class="text-body-secondary">| {{ offer.author }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        {% endfor %}
    </div>




    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Первая">
                        <span aria-hidden="true">&laquo; Первая</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
                        <span aria-hidden="true">Предыдущая</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая">
                        <span aria-hidden="true">Следующая</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Последняя">
                        <span aria-hidden="true">Последняя &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>



    <script>
        function toggleView(view) {
            const offersContainer = document.getElementById('offersContainer');
            const offerItems = document.querySelectorAll('.offer-item');
            const offerImages = document.querySelectorAll('.offer-image');

            if (view === 'grid') {
                // Включаем видимость изображений в сетке
                offerImages.forEach(img => img.style.display = 'block');

                offersContainer.classList.remove('row-cols-1');
                offersContainer.classList.add('row-cols-md-4');
                offerItems.forEach(item => {
                    item.classList.remove('col-12');
                    item.classList.add('col-md-3');
                });
                document.getElementById('gridView').classList.add('btn-primary');
                document.getElementById('listView').classList.remove('btn-primary');
                document.getElementById('listView').classList.add('btn-secondary');
            } else {
                // Прячем изображения в списке
                offerImages.forEach(img => img.style.display = 'none');

                offersContainer.classList.remove('row-cols-md-4');
                offersContainer.classList.add('row-cols-1');
                offerItems.forEach(item => {
                    item.classList.remove('col-md-3');
                    item.classList.add('col-12');
                });
                document.getElementById('listView').classList.add('btn-primary');
                document.getElementById('gridView').classList.remove('btn-primary');
                document.getElementById('gridView').classList.add('btn-secondary');
            }
        }

        // Инициализация на старте страницы (по умолчанию сетка)
        document.addEventListener('DOMContentLoaded', function () {
            toggleView('grid');
        });
    </script>




{% endblock %}





