{% extends 'dashboard.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'List notifications' %}{% endblock %}

{% block dashboard_content %}

    <style>
        .read-False td {
            background-color: #ccc;
        }
        .profile-placeholder {
            width: 100px;
            height: 100px;
            background-color: #118ce6;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50%;
            text-transform: uppercase;
        }
    </style>

    <div class="col-lg-3 border-end">
        <div class="text-center">
            <div class="position-relative d-inline-block">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}"
                         class="rounded-circle profile-pic {% if user_profile.is_premium %}premium-rounded{% endif %}"
                         alt="Profile Picture">
                {% else %}
                    <div class="rounded-circle profile-placeholder">
                        {{ request.user.username|slice:":1"|upper }}
                    </div>
                {% endif %}
            </div>
            <h3 class="mt-3 mb-2">{{ request.user.username }}</h3>

        </div>
        <div class="p-4">
            <div class="nav flex-column nav-pills">
                <a class="nav-link"
                   href="{% url 'accounts:dashboard' request.user.username %}">
                    <i class="fas fa-user me-2"></i>
                    {% trans 'Personal info' %}
                </a>
                <a class="nav-link"
                   href="{% url 'accounts:my_offers' %}">
                    <i class="fas fa-grip me-2"></i>
                    {% trans 'My offers' %}
                </a>
                <a class="nav-link active" href="{% url 'notifications:notification_list' %}">
                    <i class="fas fa-bell me-2"></i>
                    {% trans 'Notifications' %}
                </a>

                <a class="nav-link" href="{% url 'payments:history' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    {% trans 'Payments' %}
                </a>
                <a class="nav-link" href="{% url 'accounts:referred_users' %}">
                    <i class="fa-solid fa-users"></i> {% trans 'Referrals' %}</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="p-4">
            {% if notif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'message' %}</th>
                        <th scope="col">{% trans 'created at' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for noti in notif %}
                        <tr class="read-{{ noti.is_read }}">
                            <td>{{ noti.message }}</td>
                            <td>{{ noti.created_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if notif %}
                    <a class="btn btn-primary float-end"
                       href="{% url 'notifications:mark_as_read' %}">
                        {% trans 'Mark all as read' %}
                    </a>

                    <a class="btn btn-danger float-end me-2"
                       href="{% url 'notifications:notification_delete' %}">
                        {% trans 'Delete all' %}
                    </a>
                {% endif %}

                <div>
                    {% if offers.has_previous %}
                        <a href="?page=1">&laquo; {% trans 'First' %}</a>
                        <a href="?page={{ offers.previous_page_number }}">{% trans 'Previous' %}</a>
                    {% endif %}

                    Страница {{ offers.number }} из {{ offers.paginator.num_pages }}

                    {% if offers.has_next %}
                        <a href="?page={{ offers.next_page_number }}">{% trans 'Next' %}</a>
                        <a href="?page={{ offers.paginator.num_pages }}">{% trans 'Last' %} &raquo;</a>
                    {% endif %}
                </div>

            {% else %}
                <p>{% trans 'You dont have notifications' %}</p>
            {% endif %}

        </div>
    </div>

{% endblock %}