{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Scalingst - {% trans 'Subscription business' %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}" />
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <style>
        .dropdown-toggle::after {
            display: none !important;
        }

        .signin-btn {
            margin: 0 10px;
        }

        @media (max-width: 991px) {
            .signin-btn {
                margin: 0 0 10px 0;
            }
        }

        .dropdown-menu {
            min-width: auto !important;
            width: auto !important;
        }


    </style>
</head>

<body class="index-page">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Scalingst</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'offers:offer_list' %}">{% trans 'Offers' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'payments:create' %}">{% trans 'Premium' %} <i
                            class="fa-solid fa-star" style="color: gold"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'publication:article_list' %}">{% trans 'Articles' %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <button id="theme-toggle" class="nav-link border-0">
                        <i id="light-icon" class="fa-solid fa-sun"></i>
                        <i id="dark-icon" class="fa-solid fa-moon" style="display: none;"></i>
                    </button>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="height: 35px;" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if request.LANGUAGE_CODE == 'uk' %}
                            <span>UA</span>
                        {% elif request.LANGUAGE_CODE == 'en' %}
                            <span>EN</span>
                        {% else %}
                            <span>RU</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end mb-2" aria-labelledby="navbarDropdown">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <button type="submit" name="language" value="{{ language.code }}"
                                            class="text-uppercase {% if language.code == LANGUAGE_CODE %}selected{% else %}demo-text-black{% endif %} dropdown-item">
                                        {#                                        {{ language.name }}#}
                                        {% if language.code == 'uk' %}
                                            UA
                                        {% elif language.code == 'en' %}
                                            EN
                                        {% else %}
                                            RU
                                        {% endif %}

                                    </button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>




                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            🔔 {% trans 'Notifications' %}
                            {% if notifications %}
                                <span class="badge bg-primary">{{ notifications|length }}</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationsDropdown">
                            {% if notifications %}
                                {% for notification in notifications %}

                                    <li><a class="dropdown-item" href="#">{{ notification.message }}</a></li>

                                {% endfor %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item text-center text-primary"
                                       href="{% url 'notifications:mark_as_read' %}">
                                        {% trans 'Mark all as read' %}
                                    </a>

                                    <a href="{% url 'notifications:notification_list' %}"
                                       class="dropdown-item text-center text-primary">
                                        {% trans 'View notification history' %}
                                    </a>

                                </li>
                            {% else %}
                                <li><span class="dropdown-item text-muted">{% trans 'No new notifications' %}</span>
                                </li>
                                <li><span class="dropdown-item text-muted"><a
                                        href="{% url 'notifications:notification_list' %}">{% trans 'View notification history' %}</a></span>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {{ request.user.username }}
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'accounts:dashboard' request.user.username %}">{% trans 'Account' %}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'notifications:notification_list' %}">{% trans 'Notifications' %}</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form method="post" action="{% url 'accounts:logout' %}">
                                        {% csrf_token %}
                                        <input type="submit" value="{% trans 'Logout' %}" class="dropdown-item">
                                    </form>
                                </li>

                            </ul>
                        </div>
                    </li>

                {% else %}
                    <a href="{% url 'accounts:signin' %}" class="btn btn-primary signin-btn"><i
                            class="fa-solid fa-right-to-bracket"></i> {% trans 'Signin' %}</a>
                    <a href="{% url 'accounts:signup' %}" class="btn btn-primary"><i
                            class="fa-solid fa-user-plus"></i> {% trans 'Signup' %}</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<main class="main">

    <section id="hero" class="hero section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="hero-content" data-aos="fade-up" data-aos-delay="200">

                        <h1 class="mb-4">
                            {% trans 'Sales' %}
                            <span class="accent-text">{% trans 'scaling' %}</span>
                        </h1>

                        <p class="mb-4 mb-md-5">
                            {% trans 'This is a tool to increase sales of your product' %}
                        </p>

                        <div class="hero-buttons">
                            <a href="{% url 'offers:offer_create' %}"
                               class="btn btn-primary me-0 me-sm-2 mx-1">{% trans 'Create first offer' %}</a>
                            <a href="https://scalingst.com/page/about-us/"
                               class="btn btn-link mt-2 mt-sm-0">
                                <i class="bi bi-info-circle"></i>
                                {% trans 'About Us' %}
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="hero-image" data-aos="zoom-out" data-aos-delay="300">
                        <img src="{% static 'img/illustration-1.webp' %}" alt="Hero Image" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="row stats-row gy-4 mt-5" data-aos="fade-up" data-aos-delay="500">
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="bi bi-person"></i>
                        </div>
                        <div class="stat-content">
                            <h4>{% trans 'Cabinet' %}</h4>
                            <p class="mb-0">{% trans 'Each subscriber has their own personal account' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="bi bi-shop"></i>
                        </div>
                        <div class="stat-content">
                            <h4>{% trans 'Convenience' %}</h4>
                            <p class="mb-0">{% trans 'Automate the purchasing process, save time' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="bi bi-gem"></i>
                        </div>
                        <div class="stat-content">
                            <h4>{% trans 'Exclusivity' %}</h4>
                            <p class="mb-0">{% trans 'Access to exclusive products, services' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="stat-item">
                        <div class="stat-icon">
                            <i class="bi bi-star"></i>
                        </div>
                        <div class="stat-content">
                            <h4>{% trans 'Guarantees' %}</h4>
                            <p class="mb-0">{% trans 'Quality guarantee and convenient return conditions' %}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- /Hero Section -->

    <section id="about" class="about section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 align-items-center justify-content-between">

                <div class="col-xl-5" data-aos="fade-up" data-aos-delay="200">
                    <span class="about-meta">{% trans 'More about us' %}</span>
                    <h2 class="about-title">{% trans 'Sales scaling (MS)' %}</h2>
                    <p class="about-description">{% trans 'It is a tool to increase the sales volume of your product. It is the process where you go from small sales to larger ones, expand your customer base and increase your sales revenue.' %}</p>

                    <div class="row feature-list-wrapper">
                        <div class="col-md-6">
                            <ul class="feature-list">
                                <li><i class="bi bi-check-circle-fill"></i> {% trans 'Increase sales' %}</li>
                                <li><i class="bi bi-check-circle-fill"></i> {% trans 'Track statistics' %}</li>
                                <li><i class="bi bi-check-circle-fill"></i> {% trans 'Reduce costs' %}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="feature-list">
                                <li><i class="bi bi-check-circle-fill"></i> {% trans 'Receive discounts' %}</li>
                                <li><i class="bi bi-check-circle-fill"></i> {% trans 'Attract partners' %}</li>
                                <li><i class="bi bi-check-circle-fill"></i> {% trans 'Attract Partners' %}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="image-wrapper">
                        <div class="images position-relative" data-aos="zoom-out" data-aos-delay="400">
                            <img src="{% static 'img/about-5.webp' %}" alt="Business Meeting"
                                 class="img-fluid main-image rounded-4">
                            <img src="{% static 'img/about-2.webp' %}" alt="Team Discussion"
                                 class="img-fluid small-image rounded-4">
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section><!-- /About Section -->

    <section id="pricing" class="pricing section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>{% trans 'Prices' %}</h2>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-4 justify-content-center">

                <!-- Basic Plan -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="pricing-card">
                        <h3>{% trans 'Basic plan' %}</h3>
                        <div class="price">
                            <span class="amount">{% trans 'Free' %}</span>
                        </div>
                        <p class="description">{% trans 'A basic account for users is available after registration in the system.' %}</p>

                        <h4>{% trans 'Includes' %}:</h4>
                        <ul class="features-list">
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'Access to the search engine' %}
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'Publication of proposals' %}
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'View user suggestions' %}
                            </li>
                        </ul>

                        <a href="{% url 'payments:create' %}" class="btn btn-primary">
                            {% trans 'Design' %}
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <!-- Standard Plan -->
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="pricing-card popular">
                        <div class="popular-badge">{% trans 'Popular' %}</div>
                        <h3>{% trans 'Premium plan' %}</h3>
                        <div class="price">
                            <span class="currency">$</span>
                            <span class="amount">99,95</span>
                            <span class="period">/ {% trans 'year' %}</span>
                        </div>
                        <p class="description">{% trans 'A premium account will become available after you subscribe in your personal account in the system.' %}</p>

                        <h4>{% trans 'Includes' %}:</h4>
                        <ul class="features-list">
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'Access to the search engine' %}
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'Publication of proposals' %}
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'View user suggestions' %}
                            </li>
                            <li>
                                <i class="bi bi-check-circle-fill"></i>
                                {% trans 'Access to premium offers' %}
                            </li>
                        </ul>
                        <a href="{% url 'payments:create' %}" class="btn btn-light">
                            {% trans 'Design' %}
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- /Pricing Section -->

    <section id="features" class="features section">
        <div class="container">
            <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

                <div class="tab-pane fade active show" id="features-tab-1">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                            <span class="features-meta">{% trans 'For whom?' %}</span>
                            <h3>{% trans 'For MP subscribers only' %}</h3>
                            <p class="fst-italic">
                                {% trans 'In the private section, each registered subscriber has their own personal account, which serves to provide information about all the news and updates necessary for the successful development of your business. It also includes an international search engine for low-price purchases and the ability to submit applications for points offering a variety of goods and services to be published in the search system.' %}
                            </p>

                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="{% static 'img/features-illustration-1.webp' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div><!-- End tab content item -->

            </div>

        </div>

    </section><!-- /Features Section -->


    <section class="faq-9 faq section light-background" id="faq">

        <div class="container">
            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <h2 class="faq-title">{% trans 'For consumers' %}</h2>
                    <div class="faq-container">

                        <div class="faq-item faq-active">
                            <h3>Экономия</h3>
                            <div class="faq-content">
                                <p>{% trans 'The most obvious motivation is the ability to purchase goods and services at lower prices. Subscriptions often provide access to exclusive discounts, promotions, and special offers.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Convenience' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Subscription allows you to automate the purchasing process, saving time on searching for the best offers. Many services offer delivery directly to your home or to a convenient location.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Exclusivity' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Subscribers often get access to exclusive products, services or content that is not available to other customers.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Quality guarantees' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Many subscription companies guarantee the quality of their products and services, and also provide convenient return or exchange conditions.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Social proof' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Belonging to a community of subscribers can increase the self-esteem and prestige of the consumer.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                    <h2 class="faq-title">{% trans 'For sellers' %}</h2>
                    <div class="faq-container">

                        <div class="faq-item faq-active">
                            <h3>{% trans 'Stable income stream' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Subscription provides predictable income, which allows you to plan your business more effectively.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Increased customer loyalty' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Subscribers tend to be more loyal to the brand and make repeat purchases.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Collecting customer data' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Subscription allows you to collect valuable information about customer behavior, which helps improve products and services.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Possibility to personalize the offer' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'Based on subscriber preference data, you can create personalized offers, increasing the effectiveness of marketing campaigns.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>{% trans 'Scaling your business' %}</h3>
                            <div class="faq-content">
                                <p>{% trans 'The subscription model makes it easy to scale your business and attract new customers.' %}</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->


                    </div>
                </div>

            </div>
        </div>
    </section><!-- /Faq Section -->

</main>

<footer id="footer" class="footer">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                    <span class="sitename">Scalingst</span>
                </a>
                <div class="social-links d-flex mt-4">
                    <a href="https://t.me/+nIblWBB_nu0wMjMy"><i class="bi bi-telegram"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'About the project' %}</h4>
                <ul>
                    <li><a href="https://scalingst.com/page/about-us/">{% trans 'About Us' %}</a></li>
                    <li><a href="https://scalingst.com/page/contacts/">{% trans 'Contacts' %}</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'Documents' %}</h4>
                <ul>
                    <li><a href="https://scalingst.com/page/rules/">{% trans 'Service rules' %}</a></li>
                    <li><a href="https://scalingst.com/page/public-offer/">{% trans 'Public offer' %}</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'Services' %}</h4>
                <ul>
                    <li><a href="{% url 'offers:offer_list' %}">{% trans 'Offers' %}</a></li>
                    <li><a href="{% url 'payments:create' %}">{% trans 'Premium' %}</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'Materials' %}</h4>
                <ul>
                    <li><a href="{% url 'publication:article_list' %}">{% trans 'Articles' %}</a></li>
                </ul>
            </div>


        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Scalingst</strong>
            <span>{% trans 'Al Rygnts Reserved' %}</span>
        </p>
    </div>

</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>